html, body {
	margin: 0;
	height: 100%;
}

line {
	stroke: red;
}

path { 
	stroke: green;
	fill: none;
	stroke-width: 2px;
 }

g.group0 path,
g.group0 circle {
	stroke: red;
	fill: none;
}

g.tick line {
	stroke: blue;
}

g.tick text {
	font-size: 12px;
	fill: purple;
}

/*g.hidden line, path {
	display: none;
}*/

rect {
	fill: lightblue;
	stroke: cornflowerblue;
}

circle {
	fill: indianred;
}

text {
	font-family: arial;
	fill: white;
	font-size: 11px;
}